{{> nav}}

<div class="container mt-5">
    <h5>Log In</h5>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control col-lg-6" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" required="true">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control col-lg-6" id="inputPassword" name="password" placeholder="Enter Password" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <br>
    <a href="/forgot">Forgot password?</a>
</div>
